Repository NomadonaTrip/Vantage: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

Path conditions:
  eslint: any of: ^apps/web/.*\.[tj]sx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: ^(pnpm-lock\.yaml|apps/api/)
  typecheck: any of: ^apps/web/.*\.tsx?$

feat(logging): configure structured logging with structlog and pino
  .env.example
  apps/api/src/__init__.py
  apps/api/src/api/__init__.py
  apps/api/src/api/middleware/__init__.py
  apps/api/src/api/middleware/logging.py
  apps/api/src/api/routes/__init__.py
  apps/api/src/api/routes/health.py
  apps/api/src/core/__init__.py
  apps/api/src/core/sentry.py
  apps/api/src/main.py
  apps/api/src/utils/__init__.py
  apps/api/src/utils/logging.py
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/lib/logger.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/styles/globals.css
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  package.json
  packages/shared/.turbo/turbo-build.log
  packages/shared/node_modules/.bin/tsc
  packages/shared/node_modules/.bin/tsserver
  packages/shared/node_modules/@types/node
  packages/shared/node_modules/typescript
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/types/index.ts
  packages/shared/tsconfig.json
  pnpm-workspace.yaml
  turbo.json
Due: eslint, prettier, typecheck

feat(docker): configure Docker Compose for local development
  .env.example
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/web/.dockerignore
  apps/web/Dockerfile
  docker-compose.yml
Due: none

docs: add comprehensive development setup documentation
  README.md
Due: prettier

feat(auth): implement Supabase authentication integration
  apps/api/src/api/middleware/__init__.py
  apps/api/src/api/middleware/auth.py
  apps/api/src/api/routes/auth.py
  apps/api/src/core/__init__.py
  apps/api/src/core/supabase.py
  apps/api/src/main.py
  apps/web/app/(auth)/layout.tsx
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/register/page.tsx
  apps/web/app/layout.tsx
  apps/web/components/providers/auth-provider.tsx
  apps/web/lib/supabase/client.ts
  apps/web/lib/supabase/server.ts
  apps/web/middleware.ts
  apps/web/stores/auth-store.ts
Due: eslint, prettier, typecheck

feat(onboarding): implement conversational onboarding system
  .env.example
  apps/api/src/api/routes/conversations.py
  apps/api/src/main.py
  apps/api/src/repositories/__init__.py
  apps/api/src/repositories/conversation.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/conversation.py
  apps/api/src/services/__init__.py
  apps/api/src/services/conversation_agent.py
  apps/api/src/services/llm_provider.py
  apps/api/src/services/llm_service.py
  apps/web/app/onboarding/page.tsx
  apps/web/components/chat/chat-input.tsx
  apps/web/components/chat/chat-interface.tsx
  apps/web/components/chat/message-bubble.tsx
  apps/web/components/chat/message-list.tsx
  apps/web/lib/utils.ts
  apps/web/stores/conversation-store.ts
Due: eslint, prettier, typecheck

feat(clients): implement client profile CRUD operations
  apps/api/src/api/routes/client_profiles.py
  apps/api/src/main.py
  apps/api/src/repositories/__init__.py
  apps/api/src/repositories/client_profile.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/client_profile.py
  apps/web/app/(dashboard)/clients/[id]/page.tsx
  apps/web/app/(dashboard)/clients/new/page.tsx
  apps/web/app/(dashboard)/clients/page.tsx
  apps/web/app/(dashboard)/layout.tsx
  apps/web/app/(dashboard)/page.tsx
  apps/web/components/client/client-card.tsx
  apps/web/components/client/client-detail.tsx
  apps/web/components/client/client-form.tsx
  apps/web/components/client/client-list.tsx
  apps/web/stores/client-store.ts
Due: eslint, prettier, typecheck

feat(clients): add quick-switch client profile component
  apps/web/app/(dashboard)/layout.tsx
  apps/web/components/client/client-switcher.tsx
Due: eslint, prettier, typecheck

feat(conversations): implement conversation persistence and history view
  apps/api/src/api/routes/client_profiles.py
  apps/api/src/repositories/conversation.py
  apps/api/src/schemas/conversation.py
  apps/web/app/(dashboard)/clients/[id]/page.tsx
  apps/web/components/client/conversation-history.tsx
Due: eslint, prettier, typecheck

feat(api): add lead and search schemas, repositories, and routes
  apps/api/src/api/routes/leads.py
  apps/api/src/api/routes/searches.py
  apps/api/src/main.py
  apps/api/src/repositories/lead.py
  apps/api/src/repositories/search.py
  apps/api/src/schemas/lead.py
  apps/api/src/schemas/search.py
Due: none

feat(api): implement multi-factor lead scoring engine
  apps/api/src/schemas/client_profile.py
  apps/api/src/services/scoring/__init__.py
  apps/api/src/services/scoring/config.py
  apps/api/src/services/scoring/engine.py
Due: none

feat(api): implement source adapter framework with rate limiting
  apps/api/src/services/sources/__init__.py
  apps/api/src/services/sources/base.py
  apps/api/src/services/sources/mock_adapter.py
  apps/api/src/services/sources/rate_limiter.py
Due: none

feat(api): implement search orchestration service
  apps/api/src/services/__init__.py
  apps/api/src/services/orchestrator.py
Due: none

feat(api): add analytics and feedback tracking schemas
  apps/api/src/schemas/analytics.py
Due: none

feat(api): implement analytics computation service
  apps/api/src/services/__init__.py
  apps/api/src/services/analytics.py
Due: none

feat(api): add analytics API endpoints
  apps/api/src/api/routes/analytics.py
  apps/api/src/main.py
Due: none

feat(web): add analytics dashboard frontend
  apps/web/app/(dashboard)/analytics/page.tsx
  apps/web/components/analytics/metrics-cards.tsx
  apps/web/components/analytics/score-correlation.tsx
  apps/web/components/analytics/source-breakdown.tsx
  apps/web/stores/analytics-store.ts
Due: eslint, prettier, typecheck

feat(api): add voice service for STT and TTS
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/voice.py
  apps/api/src/services/__init__.py
  apps/api/src/services/voice/__init__.py
  apps/api/src/services/voice/__pycache__/__init__.cpython-312.pyc
  apps/api/src/services/voice/__pycache__/piper.cpython-312.pyc
  apps/api/src/services/voice/__pycache__/service.cpython-312.pyc
  apps/api/src/services/voice/__pycache__/whisper.cpython-312.pyc
  apps/api/src/services/voice/piper.py
  apps/api/src/services/voice/service.py
  apps/api/src/services/voice/whisper.py
  apps/api/tests/__init__.py
  apps/api/tests/services/__init__.py
  apps/api/tests/services/test_voice.py
Due: none

feat(api): add voice API routes with rate limiting
  apps/api/src/api/middleware/__init__.py
  apps/api/src/api/middleware/rate_limit.py
  apps/api/src/api/routes/voice.py
  apps/api/src/main.py
Due: none

feat(web): add voice frontend components
  apps/web/components/voice/audio-player.tsx
  apps/web/components/voice/index.ts
  apps/web/components/voice/recording-button.tsx
  apps/web/components/voice/voice-toggle.tsx
  apps/web/hooks/use-audio-recorder.ts
  apps/web/stores/voice-store.ts
Due: eslint, prettier, typecheck

feat(web): integrate voice with chat components
  apps/web/components/chat/index.ts
  apps/web/components/chat/voice-chat-input.tsx
  apps/web/components/chat/voice-message.tsx
  apps/web/lib/voice-api.ts
Due: eslint, prettier, typecheck

fix: resolve type errors and build issues
  apps/api/README.md
  apps/api/tests/services/test_voice.py
  apps/web/app/(dashboard)/clients/new/page.tsx
  apps/web/app/(dashboard)/layout.tsx
  apps/web/lib/supabase/server.ts
  apps/web/middleware.ts
  apps/web/package.json
  apps/web/tests/setup-a11y.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: eslint, prettier, typecheck

chore: upgrade Next.js to 16.1.3 and Sentry to 10.34.0
  apps/web/package.json
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: prettier

docs: add Epic 5 Production Readiness stories
  docs/stories/epic-5/5.1.github-actions-ci.md
  docs/stories/epic-5/5.2.pre-commit-hooks.md
  docs/stories/epic-5/5.3.docker-compose.md
  docs/stories/epic-5/5.4.dependabot.md
  docs/stories/epic-5/5.5.search-page.md
  docs/stories/epic-5/5.6.leads-page.md
  docs/stories/epic-5/5.7.lighthouse-ci.md
  docs/stories/epic-5/5.8.test-coverage.md
Due: prettier

feat(ci): add GitHub Actions CI pipeline for linting, testing, and builds
  .github/workflows/ci.yml
  README.md
Due: prettier

feat(hooks): add pre-commit hooks with gitleaks and lint-staged
  .gitleaks.toml
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier

feat(web): implement search page frontend (E5-S5)
  apps/web/app/(dashboard)/search/page.tsx
  apps/web/components/search/index.ts
  apps/web/components/search/lead-card.tsx
  apps/web/components/search/manual-override.tsx
  apps/web/components/search/quality-slider.tsx
  apps/web/components/search/search-header.tsx
  apps/web/components/search/search-progress.tsx
  apps/web/components/search/search-results.tsx
  apps/web/stores/search-store.ts
  docs/qa/gates/e5-s5-search-page.yml
  docs/stories/epic-5/5.5.search-page.md
Due: eslint, prettier, typecheck

feat(web): implement leads management page (E5-S6)
  apps/web/app/(dashboard)/leads/page.tsx
  apps/web/components/leads/accuracy-badge.tsx
  apps/web/components/leads/index.ts
  apps/web/components/leads/lead-row.tsx
  apps/web/components/leads/leads-filters.tsx
  apps/web/components/leads/leads-table.tsx
  apps/web/components/leads/status-dropdown.tsx
  apps/web/components/leads/status-history.tsx
  apps/web/stores/leads-store.ts
  docs/qa/gates/e5-s6-leads-page.yml
  docs/stories/epic-5/5.6.leads-page.md
Due: eslint, prettier, typecheck
